<?php $this->load->view('inc/top.html') ?>

<div class="content f-cb">
	<!-- 载入左边模板 -->
	<?php $this->load->view($this->uri->segment(1).'/left.html'); ?>
	<div class="main f-fr">
		<div class="panel panel-default">
			<div class="panel-heading f-fwb">所有主题投票</div>
			<div class="panel-body">
				<div class="districts-list">
					<div class="search">
						<form action="search" method="post">
							<div class="search-header">搜索</div>
							<div class="search-content">
								<div class="search-row">
									手机：
									<input type="text"  name="search_phone"/> 
									</div>
								<div class="search-row">
									邮箱：
									 <input type="text"  name="search_email"/> 
								</div>
							</div>
							<div class="form-buttons">
								<button class="btn btn-default" id="submit">筛选</button>
							</div>
						</form>
					</div>
					<table class="table table-striped table-hover table-bordered">
						<thead>
							<tr>
								<th width="5%">SN码</th>
								<th width="10%">用户</th>
								<th width="10%">用户手机</th>
								<th width="17%">用户邮箱</th>
								<th width="18%">绑定时间</th>
								<!-- <th width="16%">操作</th> -->
							</tr>
						</thead>
						<tbody>
							<?php foreach ($data as $k => $v): ?>
								<tr>
									<td><?php echo $v['sn'] ?></td>
									<td><?php echo $v['username'] ?></td>
									<td><?php echo $v['mobile'] ?></td>
									<td><?php echo $v['email'] ?></td>
									<td><?php echo date('Y-m-d H:i',$v['bindtime']) ?></td>
									<!-- <td><a href="./vote-edit.php?id=4">编辑</a> | <a href="./voteitem.php?id=4">选项与开关</a></td> -->
								</tr>
							<?php endforeach ?>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<?php $this->load->view('inc/buttom.html'); ?>