<?php
$this->load->view('inc/top.html');
?>
<link href="<?php echo base_url(); ?>public/css/admin_master.css" rel="stylesheet">
<script type="text/javascript" src="<?php echo base_url(); ?>public/js/highcharts-4.1.3/js/highcharts.js"></script>
<script type="text/javascript" src="<?php echo base_url(); ?>public/js/jquery-ui-1.10.3/js/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript" src="<?php echo base_url(); ?>public/js/jquery-ui-1.10.3/i18n/jquery.ui.datepicker-zh-CN.js"></script>
<script type="text/javascript"> 
$(function() {
	$( "#start-date" ).datepicker();
	$( "#end-date" ).datepicker();
	
	$('.item-sugar').show();
	init_sugar();
	$('.records-nav li').click(function (){
		var
			tab = $(this),
			item_label = tab.data('item'),
			item = $('.item-' + item_label)
		;
		$('.records-nav li').removeClass('active');
		tab.addClass('active');
		$('.records .item').hide();
		item.show();
		if(item_label == 'sugar') {
			init_sugar();
		} else if(item_label == 'pressure') {
			init_pressure();
		} else if(item_label == 'protein') {
			init_protein(); 
		}
	});
	
	function init_sugar() {
		$('#chart-sugar-1').highcharts({
			chart: {type: 'line'},
			title: {text: '空腹血糖统计图'},
			subtitle: {text: '近20次测量统计'},
			xAxis: {categories: [
				<?php
				for($i = 0; $i < count($sugar_records_1); $i++) {
					if($i == 0) {
						echo "'" . date('m-d', $sugar_records_1[$i]['measuretime']) . "'";
					} else {
						echo ",'" . date('m-d', $sugar_records_1[$i]['measuretime']) . "'";
					}
				}
				?>
			]},
			yAxis: {title: {text: '血糖值mmol/L'}},
			series: [{name: '空腹血糖',data: [
				<?php
				for($i = 0; $i < count($sugar_records_1); $i++) {
					if($i == 0) {
						echo $sugar_records_1[$i]['sugar'];
					} else {
						echo "," . $sugar_records_1[$i]['sugar'];
					}
				}
				?>
			]}]
		});
		$('#chart-sugar-2').highcharts({
			chart: {type: 'line'},
			title: {text: '早餐后血糖统计图'},
			subtitle: {text: '近20次测量统计'},
			xAxis: {categories: [
				<?php
				for($i = 0; $i < count($sugar_records_2); $i++) {
					if($i == 0) {
						echo "'" . date('m-d', $sugar_records_2[$i]['measuretime']) . "'";
					} else {
						echo ",'" . date('m-d', $sugar_records_2[$i]['measuretime']) . "'";
					}
				}
				?>
			]},
			yAxis: {title: {text: '血糖值mmol/L'}},
			series: [{name: '早餐后血糖',data: [
				<?php
				for($i = 0; $i < count($sugar_records_2); $i++) {
					if($i == 0) {
						echo $sugar_records_2[$i]['sugar'];
					} else {
						echo "," . $sugar_records_2[$i]['sugar'];
					}
				}
				?>
			]}]
		});
		$('#chart-sugar-3').highcharts({
			chart: {type: 'line'},
			title: {text: '午餐前血糖统计图'},
			subtitle: {text: '近20次测量统计'},
			xAxis: {categories: [
				<?php
				for($i = 0; $i < count($sugar_records_3); $i++) {
					if($i == 0) {
						echo "'" . date('m-d', $sugar_records_3[$i]['measuretime']) . "'";
					} else {
						echo ",'" . date('m-d', $sugar_records_3[$i]['measuretime']) . "'";
					}
				}
				?>
			]},
			yAxis: {title: {text: '血糖值mmol/L'}},
			series: [{name: '午餐前血糖',data: [
				<?php
				for($i = 0; $i < count($sugar_records_3); $i++) {
					if($i == 0) {
						echo $sugar_records_3[$i]['sugar'];
					} else {
						echo "," . $sugar_records_3[$i]['sugar'];
					}
				}
				?>
			]}]
		});
		$('#chart-sugar-4').highcharts({
			chart: {type: 'line'},
			title: {text: '午餐后血糖统计图'},
			subtitle: {text: '近20次测量统计'},
			xAxis: {categories: [
				<?php
				for($i = 0; $i < count($sugar_records_4); $i++) {
					if($i == 0) {
						echo "'" . date('m-d', $sugar_records_4[$i]['measuretime']) . "'";
					} else {
						echo ",'" . date('m-d', $sugar_records_4[$i]['measuretime']) . "'";
					}
				}
				?>
			]},
			yAxis: {title: {text: '血糖值mmol/L'}},
			series: [{name: '午餐后血糖',data: [
				<?php
				for($i = 0; $i < count($sugar_records_4); $i++) {
					if($i == 0) {
						echo $sugar_records_4[$i]['sugar'];
					} else {
						echo "," . $sugar_records_4[$i]['sugar'];
					}
				}
				?>
			]}]
		});
		$('#chart-sugar-5').highcharts({
			chart: {type: 'line'},
			title: {text: '晚餐前血糖统计图'},
			subtitle: {text: '近20次测量统计'},
			xAxis: {categories: [
				<?php
				for($i = 0; $i < count($sugar_records_5); $i++) {
					if($i == 0) {
						echo "'" . date('m-d', $sugar_records_5[$i]['measuretime']) . "'";
					} else {
						echo ",'" . date('m-d', $sugar_records_5[$i]['measuretime']) . "'";
					}
				}
				?>
			]},
			yAxis: {title: {text: '血糖值mmol/L'}},
			series: [{name: '晚餐前血糖',data: [
				<?php
				for($i = 0; $i < count($sugar_records_5); $i++) {
					if($i == 0) {
						echo $sugar_records_5[$i]['sugar'];
					} else {
						echo "," . $sugar_records_5[$i]['sugar'];
					}
				}
				?>
			]}]
		});
		$('#chart-sugar-6').highcharts({
			chart: {type: 'line'},
			title: {text: '晚餐后血糖统计图'},
			subtitle: {text: '近20次测量统计'},
			xAxis: {categories: [
				<?php
				for($i = 0; $i < count($sugar_records_6); $i++) {
					if($i == 0) {
						echo "'" . date('m-d', $sugar_records_6[$i]['measuretime']) . "'";
					} else {
						echo ",'" . date('m-d', $sugar_records_6[$i]['measuretime']) . "'";
					}
				}
				?>
			]},
			yAxis: {title: {text: '血糖值mmol/L'}},
			series: [{name: '晚餐后血糖',data: [
				<?php
				for($i = 0; $i < count($sugar_records_6); $i++) {
					if($i == 0) {
						echo $sugar_records_6[$i]['sugar'];
					} else {
						echo "," . $sugar_records_6[$i]['sugar'];
					}
				}
				?>
			]}]
		});
		$('#chart-sugar-7').highcharts({
			chart: {type: 'line'},
			title: {text: '睡前血糖统计图'},
			subtitle: {text: '近20次测量统计'},
			xAxis: {categories: [
				<?php
				for($i = 0; $i < count($sugar_records_7); $i++) {
					if($i == 0) {
						echo "'" . date('m-d', $sugar_records_7[$i]['measuretime']) . "'";
					} else {
						echo ",'" . date('m-d', $sugar_records_7[$i]['measuretime']) . "'";
					}
				}
				?>
			]},
			yAxis: {title: {text: '血糖值mmol/L'}},
			series: [{name: '睡前血糖',data: [
				<?php
				for($i = 0; $i < count($sugar_records_7); $i++) {
					if($i == 0) {
						echo $sugar_records_7[$i]['sugar'];
					} else {
						echo "," . $sugar_records_7[$i]['sugar'];
					}
				}
				?>
			]}]
		});
		$('#chart-sugar-8').highcharts({
			chart: {type: 'line'},
			title: {text: '凌晨血糖统计图'},
			subtitle: {text: '近20次测量统计'},
			xAxis: {categories: [
				<?php
				for($i = 0; $i < count($sugar_records_8); $i++) {
					if($i == 0) {
						echo "'" . date('m-d', $sugar_records_8[$i]['measuretime']) . "'";
					} else {
						echo ",'" . date('m-d', $sugar_records_8[$i]['measuretime']) . "'";
					}
				}
				?>
			]},
			yAxis: {title: {text: '血糖值mmol/L'}},
			series: [{name: '凌晨血糖',data: [
				<?php
				for($i = 0; $i < count($sugar_records_8); $i++) {
					if($i == 0) {
						echo $sugar_records_8[$i]['sugar'];
					} else {
						echo "," . $sugar_records_8[$i]['sugar'];
					}
				}
				?>
			]}]
		});
	}
	// 血压
	function init_pressure() {
		$('#chart-pressure').highcharts({
			chart: {type: 'line'},
			title: {text: '血压统计图'},
			subtitle: {text: '近20次测量统计'},
			xAxis: {categories: [
				<?php
				for($i = 0; $i < count($pressure_records); $i++) {
					if($i == 0) {
						echo "'" . date('m-d', $pressure_records[$i]['measuretime']) . "'";
					} else {
						echo ",'" . date('m-d', $pressure_records[$i]['measuretime']) . "'";
					}
				}
				?>
			]},
			yAxis: {title: {text: '血压值mmHg'}},
			series: [
				{name: '高压值', data: [
					<?php
					for($i = 0; $i < count($pressure_records); $i++) {
						if($i == 0) {
							echo $pressure_records[$i]['high'];
						} else {
							echo "," . $pressure_records[$i]['high'];
						}
					}
					?>
				]},
				{name: '低压值', data: [
					<?php
					for($i = 0; $i < count($pressure_records); $i++) {
						if($i == 0) {
							echo $pressure_records[$i]['low'];
						} else {
							echo "," . $pressure_records[$i]['low'];
						}
					}
					?>
				]}
			]
		});
	}
	// 糖化血红蛋白
	function init_protein() {
		$('#chart-protein').highcharts({
			chart: {type: 'line'},
			title: {text: '糖化血红蛋白统计图'},
			subtitle: {text: '近20次测量统计'},
			xAxis: {categories: [
				<?php
				for($i = 0; $i < count($protein_records); $i++) {
					if($i == 0) {
						echo "'" . date('m-d', $protein_records[$i]['measuretime']) . "'";
					} else {
						echo ",'" . date('m-d', $protein_records[$i]['measuretime']) . "'";
					}
				}
				?>
			]},
			yAxis: {title: {text: '糖化血红蛋白值%'}},
			series: [
				{name: '糖化血红蛋白值', data: [
					<?php
					for($i = 0; $i < count($protein_records); $i++) {
						if($i == 0) {
							echo $protein_records[$i]['protein'];
						} else {
							echo "," . $protein_records[$i]['protein'];
						}
					}
					?>
				]}
			]
		});
	}
});
</script>
<div class="content f-cb">
	<?php $this->load->view($this->uri->segment(1).'/left.html'); ?>
	<div class="main f-fr">
		<div class="panel panel-default">
			<div class="panel-heading f-fwb">患者数据详情<a href="#modal-export" class="btn btn-primary f-fr" role="button" data-toggle="modal">导出当前患者数据</a></div>
			<div class="panel-body">
				<div id="user-record">
					<ul class="nav nav-pills records-nav">
						<li role="presentation" data-item="sugar" class="active"><a href="javascript:;">血糖</a></li>
						<li role="presentation" data-item="pressure"><a href="javascript:;">血压</a></li>
						<li role="presentation" data-item="food"><a href="javascript:;">饮食</a></li>
						<li role="presentation" data-item="drug"><a href="javascript:;">用药</a></li>
						<li role="presentation" data-item="bmi"><a href="javascript:;">BMI</a></li>
						<li role="presentation" data-item="visit"><a href="javascript:;">就诊</a></li>
						<li role="presentation" data-item="stature"><a href="javascript:;">腰臀比</a></li>
						<li role="presentation" data-item="protein"><a href="javascript:;">糖化血红蛋白</a></li>
					</ul>
					<div class="records">
						<div class="item item-sugar">
							<div class="more"><a class="btn btn-primary" href="#">更多血糖数据</a></div>
							<div id="chart-sugar-1" class="chart"></div>
							<div id="chart-sugar-2" class="chart"></div>
							<div id="chart-sugar-3" class="chart"></div>
							<div id="chart-sugar-4" class="chart"></div>
							<div id="chart-sugar-5" class="chart"></div>
							<div id="chart-sugar-6" class="chart"></div>
							<div id="chart-sugar-7" class="chart"></div>
							<div id="chart-sugar-8" class="chart"></div>
						</div>
						<div class="item item-pressure">
							<div class="more"><a class="btn btn-primary" href="#">更多血压数据</a></div>
							<div id="chart-pressure" class="chart"></div>
						</div>
						<div class="item item-food">
							<ul class="f-cb">
								<?php
								for($i = 0; $i < count($food_records); $i++) {
								?>
								<li>
									<div class="f-cb">
										<?php
										if($food_records[$i]['photo']) {
										?>
										<a class="photo f-fl photo-link" href="javascript:;" data-rel="popup" data-position-to="window" data-transition="pop"><img src="<?php echo $food_records[$i]['photo']; ?>"/></a>
										<?php
										} else {
										?>
										<a class="photo f-fl" href="javascript:;"><img src="<?php echo base_url(); ?>public/images/nophoto.jpg"/></a>
										<?php
										}
										?>
										<div class="detail f-fr">
											<div class="type"><?php echo $food_records[$i]['type']; ?></div>
											<div class="time"><?php echo date('m-d H:i', $food_records[$i]['measuretime']); ?></div>
											<div class="des"><?php echo $food_records[$i]['content']; ?></div>
										</div>
									</div>
								</li>
								<?php
								}
								?>
							</ul>
						</div>
						<div class="item item-drug">
							<ul class="f-cb">
								<?php
								for($i = 0; $i < count($drug_records); $i++) {
								?>
								<li>
									<div class="f-cb">
										<?php
										if($drug_records[$i]['photo']) {
										?>
										<a class="photo f-fl photo-link" href="javascript:;" data-rel="popup" data-position-to="window" data-transition="pop"><img src="<?php echo $drug_records[$i]['photo']; ?>"/></a>
										<?php
										} else {
										?>
										<a class="photo f-fl" href="javascript:;"><img src="<?php echo base_url(); ?>public/images/nophoto.jpg"/></a>
										<?php
										}
										?>
										<div class="detail f-fr">
											<div class="type"><?php echo $drug_records[$i]['type']; ?></div>
											<div class="time"><?php echo date('m-d H:i', $drug_records[$i]['measuretime']); ?></div>
											<div class="des"><?php echo $drug_records[$i]['content']; ?></div>
										</div>
									</div>
								</li>
								<?php
								}
								?>
							</ul>
						</div>
						<div class="item item-bmi">
							BMI记录内容
						</div>
						<div class="item item-visit">
							<ul class="f-cb">
								<li>
									<div class="f-cb">
										<a class="photo f-fl" href="javascript:;" data-rel="popup" data-position-to="window" data-transition="pop"><img src="/guanhuai/upload/image/201512/20151220164326_497365.jpg"/></a>
										<div class="detail f-fr">
											<div class="type">午餐</div>
											<div class="time">12-26 12:30</div>
											<div class="des"></div>
										</div>
									</div>
								</li>
								<li>
									<div class="f-cb">
										<a class="photo f-fl" href="javascript:;" data-rel="popup" data-position-to="window" data-transition="pop"><img src="/guanhuai/upload/image/201512/20151220164326_497365.jpg"/></a>
										<div class="detail f-fr">
											<div class="type">午餐</div>
											<div class="time">12-26 12:30</div>
											<div class="des"></div>
										</div>
									</div>
								</li>
								<li>
									<div class="f-cb">
										<a class="photo f-fl" href="javascript:;" data-rel="popup" data-position-to="window" data-transition="pop"><img src="/guanhuai/upload/image/201512/20151220164326_497365.jpg"/></a>
										<div class="detail f-fr">
											<div class="type">午餐</div>
											<div class="time">12-26 12:30</div>
											<div class="des"></div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="item item-stature">
							腰臀比记录内容
						</div>
						<div class="item item-protein">
							<div class="more"><a class="btn btn-primary" href="#">更多糖化血红蛋白数据</a></div>
							<div id="chart-protein" class="chart"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="modal-export" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">选择导出数据时间段</h3>
	</div>
	<div class="modal-body" style="padding-left:100px;">
		从 <input type="text" class="input-small" id="start-date" name="start" value=""/> 日
		<select name="start-hour" id="start-hour">
			<option value="0">0</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
		</select> 时
		<br /><br />
		到 <input type="text" class="input-small" id="end-date" name="end" value=""/> 日
		<select name="end-hour" id="end-hour">
			<option value="0">0</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
		</select> 时
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
		<button class="btn btn-primary">导出</button>
	</div>
</div>

<?php
$this->load->view('inc/buttom.html');
?>