<?php $this->load->view('inc/top.html') ?>
<?php //dd($user_data); exit;   ?>
<div class="content f-cb">
	<!-- 载入左边模板 -->
	<?php $this->load->view($this->uri->segment(1).'/left.html'); ?>
	<div class="main f-fr">
		<div class="panel panel-default">
			<div class="panel-heading f-fwb">所有患者</div>
			<div class="panel-body">
				<div class="districts-list">
					<div class="search">
						<form action="search" method="post">
							<div class="search-header">数据筛选</div>
							<div class="search-content">
								<div class="search-row">
									血糖范围：
									<input type="text" class="input-small" name="sugar-start"/> ~ <input type="text" class="input-small" name="sugar-end"/> （mmol/L）
									</div>
								<div class="search-row">
									血压范围：
									高压 <input type="text" class="input-small" name="height-start"/> ~ <input type="text" class="input-small" name="height-end"/> （mmHg） /
									低压 <input type="text" class="input-small" name="low-start"/> ~ <input type="text" class="input-small" name="low-end"/> （mmHg）
								</div>
								<div class="search-row">
									糖化范围：
									<input type="text" class="input-small" id="protein-start" name="protein-start" /> ~ <input type="text" class="input-small" id="protein-end" name="protein-end" /> （%）
								</div>
								<div class="search-row">
									患者城市：
									<select name="province" id="province" class="select-medium">
										<option value="0">省</option>
									</select>
									<select name="city" id="city" class="select-medium">
										<option value="0">市</option>
									</select>
								</div>
								<div class="search-row">
									记录时间：
									从 <input type="text" class="input-small" id="start-date" name="start-date" value="" style="width:80px;"/> 日
									<select name="start-hour" id="start-hour" style="width:60px;">
										<option value="0">0</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
									</select> 时，到 <input type="text" class="input-small" id="end-date" name="end-date" value="" style="width:80px;"/> 日
									<select name="end-hour" id="end-hour" style="width:60px;">
										<option value="0">0</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
									</select> 时
								</div>
							</div>
							<div class="form-buttons">
								<button class="btn btn-default" id="submit">筛选</button>
							</div>
						</form>
					</div>
					<table class="table table-striped table-hover table-bordered">
						<thead>
							<tr>
								<th width="3%">id</th>
								<th width="10%">用户名</th>
								<!--<th width="15%">头像</th>-->
								<th width="10%">手机号</th>
								<th width="5%">性别</th>
								<th width="18%">Email</th>
								<th width="13%">创建时间</th>
								<th width="10%">绑定SN编号</th>
								<th width="16%">操作</th>
							</tr>
						</thead>
						<tbody>
							<?php foreach ($data as $k => $v): ?>
								<tr>
									<td><?php echo $v['id'] ?></td>
									<td><?php echo $v['username'] ?></td>
									<!--<td><?php echo $v['thumb'] ?></td>-->
									<td><?php echo $v['mobile'] ?></td>
									<td><?php echo $v['sex'] ?></td>
									<td><?php echo $v['email'] ?></td>
									<td><?php echo date('Y-m-d H:i',$v['createtime']) ?></td>
									<td><?php
									if (!empty($v['sn'])) {
										echo $v['sn'];
									}else{
										echo '未绑定';
										} ?></td>
									<td><a href="<?php A_U('user/select_data') ?>/id/<?php echo $v['id'] ?>">健康数据</a> |
										<a href="./editpwd?uid=<?php echo $v['id'] ?>">修改密码</a></td>
								</tr>
							<?php endforeach ?>
							
						</tbody>
					</table>
					<?php if($group == 1 ){  ?>
					<table>
								<tr>
									<td style="width: 100;">
										<a <?php if($page_ma['page_now']>1){ ?> href="index?page_now=<?php echo $page_ma['page_now'] - 1 ; ?>" <?php } ?> >
											上一页
										</a>&nbsp;&nbsp;&nbsp;
									</td>
									<td style="width: 200;" >
										<a <?php if($page_ma['page_now']<$page_ma['page_zong']){ ?> href="index?page_now=<?php echo $page_ma['page_now'] + 1 ; ?>" <?php } ?> >
										下一页
										</a>&nbsp;&nbsp;&nbsp;
									</td>
									<td style="width: 100;"  >
										<div>当前第<span style="font-size: 22px;color: #E4B;"><?php echo $page_ma['page_now']; ?></span>页&nbsp;&nbsp;</div>
									</td>
									<td>
										<div>共有<span style="font-size: 22px;color: #E4B;"  ><?php echo $page_ma['page_zong']; ?></span>页&nbsp;&nbsp;&nbsp;&nbsp;</div>
									</td>
									<td>
										<div>共有<span style="font-size: 22px;color: #E4B;"  ><?php echo $page_ma['page_number']; ?></span>条信息&nbsp;&nbsp;&nbsp;&nbsp;</div>
									</td>
									<td>
										<div style="padding-top: 25px;">
											<form method="get" action="index">跳转到 
												<input type="text" style="width:30px;" name="page_now" /> 页&nbsp;&nbsp;
												<input type="submit"  value="跳转" />
											</form>
										</div>
									</td>
								</tr>
							</table>
							<?php }  ?>
				</div>
			</div>
		</div>
	</div>
</div>
<?php $this->load->view('inc/buttom.html'); ?>