<?php $this->load->view('inc/top.html') ?>
<?php
$timestamp = time();
?>
<link rel="stylesheet" href="<?php echo base_url(); ?>public/js/uploadifive/uploadifive.css">
<script src="<?php echo base_url(); ?>public/js/uploadifive/jquery.uploadifive.min.js"></script>
<script type="text/javascript">
$(function() {
	$('#uploader-thumb').uploadifive({
		'auto'				: true,
		'formData'			: 
							{
								'timestamp'	: '<?php echo $timestamp;?>',
								'token'		: '<?php echo md5('nnguanhuai' . $timestamp);?>',
								'file'		: 'image'
							},
		'buttonText'		: '+选择图片',
		'fileSizeLimit'   	: '51200kb',
		'queueID'			: 'uploader-queue-thumb',
		'uploadScript'		: '<?php echo base_url(); ?>public/js/uploadifive/uploadifive.php',
		'removeCompleted'	: true,
		'onUploadComplete'	: function(file, data) {
			data_thumb = data;
			$('#thumb-box img').attr('src', data_thumb);
			$('#thumb-box').css('display', 'inline-block');
			$('#thumb').val(data_thumb);
		}
	});
});
</script>
<style type="text/css">
.uploader-box{width:400px;border:0;}
.uploader-preview{width:200px;margin-bottom:8px;padding:5px;border:1px solid #ccc;display:none;}
.uploader-preview img{width:100%;height:auto;}
.uploader-queue{width:100%;}
.uploader-helper{color:#0088cc;}
</style>
<div class="content f-cb">
	<!-- 载入左边模板 -->
	<?php $this->load->view($this->uri->segment(1).'/left.html'); ?>
	<div class="main f-fr">
		<div class="panel panel-default">
			<div class="panel-heading f-fwb">添加患者知识库</div>
			<div class="panel-body">
				
				
			  <form class="form-horizontal" action="<?php if(!isset($id)){A_U('knowledge/knowledge_add');}else{A_U('knowledge/knowledge_edit');} ?>" method="post"  enctype="multipart/form-data">
			  	<input type="hidden" name="id" value="">
			    <fieldset>
			      <div id="legend" class="">
			        <legend class="">表单名</legend>
			      </div>
			    
			    <div class="control-group">
			          <!-- Text input-->
			          <label class="control-label" for="input01">标题</label>
			          <div class="controls">
			            <input type="text" name="title" placeholder="" class="input-xlarge">
			            <p class="help-block"></p>
			          </div>
			        </div>

			    <div class="control-group">
			          <label class="control-label">封面图</label>
			          <!-- File Upload -->
			          <div class="controls">
						<div class="form-item">
						<div class="uploader-preview" id="thumb-box"><img src="<?php echo base_url(); ?>public/images/pass.png" width="100%"/></div>
						<div class="uploader-box">
							<input type="file" name="uploader-thumb" class="uploader" id="uploader-thumb"/>
							<input type="hidden" id="thumb" name="thumb" value=""/>
						</div>
						<div class="uploader-queue" id="uploader-queue-thumb"></div>
						</div>
			          </div>
				</div>

			    <div class="control-group">
			          <!-- Textarea -->
			          <label class="control-label">图文格式</label>
			          <div class="controls">
			            <div class="textarea" name="description">
			                  <label for="radio" style="display:inline-block"><input name="type" checked='checked' class="type_1" value="1" type="radio">图文编辑</label>
			                  <label for="radio" style="display:inline-block"><input name="type" class="type_2" value="2" type="radio">外链文章</label>
			            </div>
			          </div>
			    </div>

				<div class="control-group url" style="display:none;">
			          <!-- Textarea -->
			          <label class="control-label">外链</label>
			          <div class="controls">
			            <div class="textarea" name="url">
			            <input type="text" name="url" placeholder="" class="input-xlarge">
			            </div>
			          </div>
			        </div>
					
			    <div class="control-group description">
			          <!-- Textarea -->
			          <label class="control-label">描述</label>
			          <div class="controls">
			            <div class="textarea" name="description">
			                  <textarea type="" class="" name="description"></textarea>
			            </div>
			          </div>
			        </div>

				<div class="control-group input_content">
			          <label class="control-label">内容</label>
			          <!-- 加载编辑器的容器 -->
			          <div class="controls">
						  <script id="container" name="content" type="text/plain" style="width:80%;"></script>
					  </div>
			    </div>
				
				<div class="control-group">
			          <label class="control-label"></label>

			          <!-- Button -->
			          <div class="controls">
			            <input class="btn btn-success" type="submit" value="添加">
			          </div>
			        </div>

			    </fieldset>
			  </form>




			</div>
		</div>
	</div>
</div>
<!-- 配置文件 -->
<script type="text/javascript" src="<?php echo base_url(); ?>public/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="<?php echo base_url(); ?>public/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
  var ue = UE.getEditor('container');

  	$('input[class=type_1]').click(function(){
  		$('.description').css('display','block');
  		$('.input_content').css('display','block');
  		$('.url').css('display','none');
  	})
  	$('input[class=type_2]').click(function(){
  		$('.description').css('display','none');
  		$('.input_content').css('display','none');
  		$('.url').css('display','block');
  	})

</script>
<?php $this->load->view('inc/buttom.html'); ?>