<?php $this->load->view('inc/top.html') ?>

<div class="content f-cb">
	<!-- 载入左边模板 -->
	<?php $this->load->view($this->uri->segment(1).'/left.html'); ?>
	<div class="main f-fr">
		<div class="panel panel-default">
			<div class="panel-heading f-fwb">所有主题投票</div>
			<div class="panel-body">
				<div class="districts-list">
					<table class="table table-striped table-hover table-bordered">
						<thead>
							<tr>
								<th width="5%">序号</th>
								<th width="25%">投票主题</th>
								<th width="18%">开始时间</th>
								<th width="18%">结束时间</th>
								<th width="18%">创建时间</th>
								<th width="16%">操作</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td><span class="label label-warning">未开启</span> 测试活动投票222222</td>
								<td>2015-11-05 10:00:00</td>
								<td>2015-11-12 18:00:00</td>
								<td>2015-11-03 23:57:51</td>
								<td><a href="./vote-edit.php?id=4">编辑</a> | <a href="./voteitem.php?id=4">选项与开关</a></td>
							</tr>
							<tr>
								<td>2</td>
								<td><span class="label label-warning">未开启</span> 测试活动投票3</td>
								<td>2015-10-28 9:00:00</td>
								<td>2015-11-07 17:30:00</td>
								<td>2015-10-29 03:16:16</td>
								<td><a href="./vote-edit.php?id=3">编辑</a> | <a href="./voteitem.php?id=3">选项与开关</a></td>
							</tr>
							<tr>
								<td>3</td>
								<td><span class="label label-warning">未开启</span> 测试主题投票</td>
								<td>2015-10-22 11:00:00</td>
								<td>2015-10-31 14:00:00</td>
								<td>2015-10-29 03:14:11</td>
								<td><a href="./vote-edit.php?id=2">编辑</a> | <a href="./voteitem.php?id=2">选项与开关</a></td>
							</tr>
							<tr>
								<td>4</td>
								<td><span class="label label-default">已结束</span> 卒中科普微视频大赛作品</td>
								<td>2015-10-12 20:46:09</td>
								<td>2015-10-25 20:00:00</td>
								<td>2015-10-12 20:46:09</td>
								<td><a href="./vote-edit.php?id=1">编辑</a> | <a href="./voteitem.php?id=1">选项与开关</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<?php $this->load->view('inc/buttom.html'); ?>