<div class="leftside f-fl">
	<div class="panel panel-default">
		<div class="panel-heading f-fwb">主题投票</div>
		<div class="panel-body">
			<ul>
				<li><a href="<?php A_U($this->uri->segment(1).'/demo_1') ?>" name="demo_1">Demo_1</a></li>
				<li><a href="<?php A_U($this->uri->segment(1).'/demo_2') ?>" name='demo_2'>Demo_2</a></li>
				<li><a href="<?php A_U($this->uri->segment(1).'/demo_3') ?>" name='demo_3'>Demo_3</a></li>
				<li><a href="<?php A_U($this->uri->segment(1).'/demo_4') ?>" name='demo_4'>Demo_4</a></li>
				<li><a href="<?php A_U($this->uri->segment(1).'/demo_5') ?>" name='demo_5'>Demo_5</a></li>
				<li><a href="<?php A_U($this->uri->segment(1).'/demo_6') ?>" name='demo_6'>Demo_6</a></li>
			</ul>
		</div>
	</div>
</div>