<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>糖尿病关怀</title>
<link href="<?php echo base_url(); ?>public/js/bootstrap-2.3.2/css/bootstrap.min.css" rel="stylesheet">
<link href="<?php echo base_url(); ?>public/css/base.css" rel="stylesheet">
<link href="<?php echo base_url(); ?>public/css/admin.css" rel="stylesheet"><link href="<?php echo base_url(); ?>public/js/jquery-ui-1.10.3/css/redmond/jquery-ui.min.css" rel="stylesheet">
<script type="text/javascript" src="<?php echo base_url(); ?>public/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="<?php echo base_url(); ?>public/js/jquery-ui-1.10.3/js/jquery-ui-1.10.3.custom.min.js"></script>
<link rel="stylesheet" href="<?php echo site_url(); ?>public/js/uploadifive/uploadifive.css">
<script type="text/javascript" src="<?php echo base_url(); ?>public/js/bootstrap-2.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="<?php echo base_url(); ?>public/js/admin.js"></script>
<style>
	.uploader-box{width:100%;border:0;}
.uploader-preview{margin-bottom:8px;width:100%;}
.uploader-preview .thumb-item{float:left;margin-right:1%;width:32%;}
.uploader-preview .thumb-item img{width:100%;height:auto;}
.uploader-queue{width:100%;}
.uploader-helper{color:#0088cc;}
</style>
</head>
<body>
<div class="wrap">
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container-fluid">
						<!--<a href="javascript:;" class="brand">糖尿病关怀</a>-->
						<div class="nav-collapse collapse navbar-responsive-collapse">
							<ul class="nav">
								<li name='doctor'><a href="<?php A_U('doctor/index') ?>">医生</a></li>
								<li name='user'><a href="<?php A_U('user/index') ?>">患者</a></li>
								<li name='box'><a href="<?php A_U('box/index') ?>">盒子</a></li>
								<li name='question'><a href="<?php A_U('question/index') ?>">问题库</a></li>
								<li name='knowledge'  ><a href="<?php A_U('knowledge/select') ?>">知识库</a></li>
								<li name='notice'><a href="<?php A_U('notice/index') ?>">系统通知</a></li>
							</ul>
							<ul class="nav pull-right">
								<li class="dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">管理员：<?php echo $this->session->userdata('name');?> <strong class="caret"></strong></a>
								<ul class="dropdown-menu">
									<li><a href="./edit-password.php">修改密码</a></li>
									<li><a href="<?php A_U('login/login_out') ?>">退出</a></li>
								</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>