<table class="table table-striped table-hover table-bordered" border="1">
	<thead>
		<tr>
			<th width="15%">医生姓名</th>
			<th width="15%">手机号</th>
			<th width="15%">所在城市</th>
			<th width="40%">医院</th>
			<th width="15%">证书数量</th>
		</tr>
	</thead>
	<tbody>
		<?php foreach($data as $k => $v): ?>
			<tr>
				<td><?php echo $v['username'] ?></td>
				<td><?php echo $v['mobile'] ?></td>
				<td><?php echo $AREAS[$v['province']] . ' ' . $AREAS[$v['city']] ?></td>
				<td><?php echo $v['hospital'] ?></td>
				<td><?php echo $v['num'] ?></td>
			</tr>
		<?php endforeach; ?>
	</tbody>
</table>