<?php $this->load->view('inc/top.html') ?>
<script src="/guanhuai/public/js/areas.js"></script>
<script type="text/javascript">
$(function() {
	var
		cities_default = '<option value="0">市</option>',
		provinces = getAllProvinces(),
		provinces_options = '',
		current_province = '<?php echo empty($search['province']) ? 0 : $search['province']; ?>',
		current_city = '<?php echo empty($search['city']) ? 0 : $search['city']; ?>'
	;
	for(var i = 0; i < provinces.length; i++) {
		provinces_options += '<option value="' + provinces[i][0] + '">' + provinces[i][1] + '</option>';
	}
	$(provinces_options).appendTo($('#province'));
	$('#province').change(function() {
		var province = $(this).val();
		if(province == '0') {
			$('#city').html(cities_default);
		} else {
			var cities = getCitiesByProvince(province);
			cities_options = '';
			for(var i = 0; i < cities.length; i++) {
				cities_options += '<option value="' + cities[i][0] + '">' + cities[i][1] + '</option>';
			}
			$('#city').html(cities_default + cities_options);
		}
		$('#city').trigger('change');
	});
	$('#province option').each(function() {
		if($(this).val() == current_province) $(this).prop('selected', true);
	});
	$('#province').trigger('change');
	$('#city option').each(function() {
		if($(this).val() == current_city) $(this).prop('selected', true);
	});
	$('#city').trigger('change');
});
</script>
<div class="content f-cb">
	<!-- 载入左边模板 -->
	<?php $this->load->view($this->uri->segment(1).'/left.html'); ?>
	<div class="main f-fr">
		<div class="panel panel-default">
			<div class="panel-heading f-fwb">所有医生</div>
			<div class="panel-body">
				<div class="districts-list">
					<div class="search" style="padding: 10px;border: 1px solid #e3e3e3;background-color: #f9f9f9;color: #666;margin-bottom: 15px;padding-bottom:0px;">
						<form action="<?php A_U('doctor/search') ?>" method="post">
							<div class="search-header">数据筛选</div>
							<div class="search-content" style="padding: 10px 10px 0;    zoom: 1;">
								<div class="search-row">
									所属医院：<input type="text" class="input-small" id="sugar-start" name="hospital" value="<?php if(!empty($search['hospital'])) echo $search['hospital'] ?>" />
									所属科室：<input type="text" class="input-small" id="sugar-start" name="department" value="<?php if(!empty($search['department'])) echo $search['department'] ?>"/>
									职位：<input type="text" class="input-small" id="sugar-start" name="job" value="<?php if(!empty($search['job'])) echo $search['job'] ?>"/><br>
									医生姓名：<input type="text" class="input-small" id="sugar-start" name="username" value="<?php if(!empty($search['username'])) echo $search['username'] ?>" />
									手机号：<input type="text" class="input-small" id="sugar-start" name="mobile" value="<?php if(!empty($search['mobile'])) echo $search['mobile'] ?>"/>
									是否科长：<select name="ismaster" style="width:70px;">
												<option =""> </option>
												<option value="-1" <?php if(!empty($search['ismaster']) && $search['ismaster'] == '-1') echo 'selected' ?>>否</option>
												<option value="1" <?php if(!empty($search['ismaster']) && $search['ismaster'] == 1) echo 'selected' ?>>是</option>
											  </select>

									性别：<select name="sex" style="width:70px;">
											<option value=""> </option>
											<option value="1" <?php if(!empty($search['sex']) && $search['sex'] == '男') echo 'selected' ?>>男</option>
											<option value="-1" <?php if(!empty($search['sex']) && $search['sex'] == '女') echo 'selected' ?>>女</option>
										  </select><br>
									所在城市：
										<select name="province" id="province" class="select-medium">
											<option value="0">省</option>
										</select>
										<select name="city" id="city" class="select-medium">
											<option value="0">市</option>
										</select>
								</div>
							</div>
							<div class="form-buttons">
								<input class="btn btn-default" type="submit" value="筛选">
							</div>
						</form>
					</div>
				</div>
				<div class="form-buttons f-cb">
					<h3 class="f-fl">本页结果共覆盖患者：<?php echo $users_total; ?></h3>
					<a class="btn btn-primary f-fr" style="margin-top:20px;" href="./export" target="_blank">导出</a>
				</div>
				<div class="districts-list">
					<table class="table table-striped table-hover table-bordered">
						<thead>
							<tr>
								<th width="5%">QR</th>
								<th width="8%">用户名</th>
								<th width="11%">手机号</th>
								<th width="12%">所在城市</th>
								<th width="12%">所属医院</th>
								<th width="8%">所属科室</th>
								<th width="7%">患者数</th>
								<th width="12%">注册时间</th>
								<th width="5%">积分</th>
								<th width="8%">职位</th>
								<!--<th width="10%">是否科长</th>-->
								<th width="12%">操作</th>
							</tr>
						</thead>
						<tbody>
							<?php foreach($data as $k => $v): ?>
								<tr>
									<td><?php echo $v['id'] + 21000 ?></td>
									<td><?php echo $v['username'] ?></td>
									<td><?php echo $v['mobile'] ?></td>
									<td><?php echo $AREAS[$v['province']] . ' ' . $AREAS[$v['city']] ?></td>
									<td><?php echo $v['hospital'] ?></td>
									<td><?php echo $v['department'] ?></td>
									<td><?php echo $v['users'] ?></td>
									<td><?php echo date('Y-m-d H:i',$v['createtime']) ?></td>
									<td><?php echo $v['money'] ?></td>
									<td><?php echo $v['job'] ?></td>
									<td><a href="./editpwd?did=<?php echo $v['id'] ?>">修改密码</a> | <a target="_blank" href="/guanhuai/public/qrcode/<?php echo $v['id'] + 21000; ?>.jpg">二维码</a></td>
								</tr>
							<?php endforeach; ?>
						</tbody>
					</table>
				</div>
				<?php
					if($isindex) echo nn_pages($page_data['path'], null, $page_data['page'], $page_data['config']);
				?>
			</div>
		</div>
	</div>
</div>
<script>
	$(function(){
		$('a[name=del]').click(function(){
			var v = confirm('确定要删除吗？');
			if(v == false){
				return false;
			}
		})
	})
</script>
<?php $this->load->view('inc/buttom.html'); ?>